# ANTHROPIC_API_KEY=ap
# GOOGLE_GENERATIVE_AI_API_KEY=ap
# OPENAI_API_KEY=apik
# QWEN_API_KEY=apik
# DEEPSEEK_API_KEY=apik
OPENROUTER_API_KEY=ap

LLM_MAX_TOKENS=1024
LLM_MODEL=deepseek/deepseek-v4-pro
LLM_PROVIDER=openrouter



ELEVENLABS_API_KEY=ap
